In [ ]:
# default_exp tabular.core

# core

> API details.

In [ ]:
#hide
#export
import pandas as pd
from fastai.data.external import *
from fastcore.all import *
from pathlib import PosixPath
from fastcore.test import *
from fastai.tabular.all import *
import fastai
from fastai.tabular.core import _maybe_expand

In [ ]:
#hide
from nbdev.showdoc import *

## Helpers to read files.

In [ ]:
#hide
#export
def str_to_path(file: str):
    "Convers a string to a Posixpath."
    if isinstance(file, str) and "~" in file:
        file = os.path.expanduser(file)

    file = Path(file)

    return file

In [ ]:
df_shrink_dtypes

In [ ]:
#hide
test_eq_type(Path(""), str_to_path(""))
test_eq_type(Path(""), str_to_path(Path("")))

In [ ]:
#export
def read_hdf(file:PosixPath, key: str = "/powerdata", key_metadata=None):
    "Reads a hdf5 table based on the given key."
    file = str_to_path(file)
    if "/" not in key: key = "/" + key
    with pd.HDFStore(file, "r") as store:
        if key in store.keys():
            df = store[key]
            if key_metadata is not None:
                df_meta = store[key_metadata]
                for c in df_meta: df[c] = df_meta[c].values[0]
        else:
            df = pd.DataFrame()
    return df

In [ ]:
#hide
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]},
                  index=['a', 'b', 'c'])
df.to_hdf('data.h5', key='df', mode='w')
test_eq(df, read_hdf("data.h5", key="df"))

In [ ]:
#export
def read_csv(file:PosixPath, sep:str =";"):
    "Reads a csv file."
    file = str_to_path(file)
    df = pd.read_csv(str(file), sep=sep)
    df.drop(["Unnamed: 0"], inplace=True, axis=1, errors="ignore")
    return df

In [ ]:
#hide
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]},)
df.to_csv('data.csv', sep=";")
test_eq(df, read_csv("data.csv", sep=";"))

In [ ]:
#export
def read_files(
    files:PosixPath,
    key:str ="/powerdata",
    key_metadata=None,
    sep:str=";",
    add_task_id=True
) -> pd.DataFrame:
    "Reads a number of CSV or HDF5 files depending on file ending."

    files = listify(files)
    dfs=L()
    for task_id,file in enumerate(files):
        if isinstance(file, str):
            file = str_to_path(file)

        if file.suffix == ".h5":
            df = read_hdf(file, key, key_metadata=key_metadata)
        elif file.suffix == ".csv":
            df = read_csv(file, sep=";")
        else:
            raise f"File ending of file {file} not supported."
        if add_task_id:df["TaskID"]=task_id
        dfs += df

    return dfs

In [ ]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]},
                  index=['a', 'b', 'c'])
df.to_hdf('data.h5', key='df', mode='w')
test_eq(df, read_files("data.h5", key="df", add_task_id=False)[0])

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]},)
df.to_csv('data.csv', sep=";")
test_eq(df, read_files("data.csv", add_task_id=False)[0])

## Feature Engineering

In [ ]:
#export
# this is merely a class to differentiate between fastai processing and renewbale pre-processing functionality
class RenewablesTabularProc(TabularProc):
    include_in_new=False
    pass

In [ ]:
class TestProc(RenewablesTabularProc): pass
test_eq(isinstance(TestProc(), RenewablesTabularProc), True)

In [ ]:
#export
class CreateTimeStampIndex(RenewablesTabularProc):
    order=0
    include_in_new=True
    def __init__(self, col_name, offset_correction=None):
        self.col_name = col_name
        self.offset_correction = offset_correction

    def encodes(self, to):
        df = to.items
        
        def create_timestamp_index(df, drop_index=True):
            df.reset_index(drop=drop_index, inplace=True)
            df.rename({self.col_name: "TimeUTC"}, axis=1, inplace=True)
            #  in case the timestamp is index give it a proper timestamp,e.g., in GermanSolarFarm dataset
            if "0000-" in str(df.TimeUTC[0]):
                df.TimeUTC = df.TimeUTC.apply(
                    lambda x: x.replace("0000-", "2015-").replace("0001-", "2016-")
                )
            df.TimeUTC = pd.to_datetime(df.TimeUTC, infer_datetime_format=True, utc=True)
            df.set_index("TimeUTC", inplace=True)
            df.index = df.index.rename("TimeUTC")

            #  for GermanSolarFarm, the index is not corret. Should have a three hour resolution but is one...
            if self.offset_correction is not None:
                i, new_index = 0, []
                for cur_index in df.index:
                    new_index.append(cur_index + pd.DateOffset(hours=i))
                    i += self.offset_correction
                df.index = new_index

        if self.col_name in df.columns:
            create_timestamp_index(df, drop_index=True)
        # properly already processed
        elif self.col_name == to.items.index.name:  
            create_timestamp_index(df, drop_index=False)
        else:
            warnings.warn(f"Timetamps column {self.col_name} not in columns {df.columns} or df.index.name")

In [ ]:
def get_test_data(index=None):
    df = pd.DataFrame(index=range(0,5), columns = ['A', 'B', 'C'] ).fillna(0)
    if index is not None: df["TimeStamps"] = index
    return TabularPandas(df)
# tests basic functionality to set a proper timestamp based index
index = ['2015-01-01-01', '2015-01-01-02', '2015-01-02-03', '2015-02-01-23', '2015-02-01-13'] 
to = get_test_data(index)
test_eq(CreateTimeStampIndex(col_name="TimeStamps")(to).items.index, pd.to_datetime(index, utc=True))

# corrects missing year
index_missing_year = ['0000-01-01-01', '0000-01-01-02', '0000-01-02-03', '0000-02-01-23', '0000-02-01-13'] 
to = get_test_data(index_missing_year)
test_eq(CreateTimeStampIndex(col_name="TimeStamps")(to).items.index, pd.to_datetime(index, utc=True))

# check if warning is triggered, due to wrong column name
to = get_test_data(index)
test_call = lambda: CreateTimeStampIndex(col_name="FalseColumnName")(to)
test_warns(test_call)

In [ ]:
#export
def get_samples_per_day(df):
    """
    Extract the amount of entries per day from the DataFrame
    Parameters
    ----------
    df : pandas.DataFrame
        the DataFrame used for the conversion.

    Returns
    -------
    integer
        amount of entries per day.
    """
    samples_per_day = -1
    
    if len(df) == 0: return samples_per_day
    mins = 0
    for i in range(1, 10):
        mins = (df.index[-i] - df.index[-(i + 1)]).seconds // 60
        # 15 min resolution
        if mins == 15:
            samples_per_day = 24 * 4
            break
        # hourly resolution
        elif mins == 60:
            samples_per_day = 24
            break
        # three hour resolution
        elif mins == 180:
            samples_per_day = 8
            break
    if samples_per_day == -1:
        raise ValueError(f"{mins} is an unknown sampling time.")

    return samples_per_day

In [ ]:
def test_data_samples_per_day(index):
    return pd.DataFrame(index=pd.to_datetime(index),
                      columns = ['A', 'B', 'C'] ).fillna(0)
df = test_data_samples_per_day(index = pd.to_datetime(['2018-01-01-00:00', '2019-01-01-04:00', '2020-01-01-07:00',] ))
test_eq(8, get_samples_per_day(df))
df = test_data_samples_per_day(index = pd.to_datetime(['2018-01-01-00:00', '2019-01-01-02:00', '2020-01-01-03:00',] ))
test_eq(24, get_samples_per_day(df))
df = test_data_samples_per_day(index = pd.to_datetime(['2018-01-01-00:00', '2019-01-01-01:15', '2020-01-01-01:30',] ))
test_eq(96, get_samples_per_day(df))
test_eq(-1, get_samples_per_day(test_data_samples_per_day([])))

In [ ]:
#export
def _interpolate_df(df, sample_time="15Min", limit=5, drop_na=False):
        df = df[~df.index.duplicated()]
        upsampled = df.resample(sample_time)
        df  = upsampled.interpolate(method="linear", limit=limit)
        
        if drop_na: df = df.dropna(axis=0)

        if "Hour" in df.columns:
            df["Hour"] = df.index.hour
        if "Month" in df.columns:
            df["Month"] = df.index.month
        if "Day" in df.columns:
            df["Day"] = df.index.day
        if "Week" in df.columns:
            df["Week"] = df.index.week

        return df

In [ ]:
def test_data_interpolate(index=pd.to_datetime(['2018-01-01-01:00', '2018-01-01-02:00', '2018-01-01-03:00'])):
    np.random.seed(2)
    df = pd.DataFrame(index=pd.to_datetime(index),
                      data=np.random.randint(0,10,size=(len(index),3)),
                  columns = ['A', 'B', 'C'] )
    return df

In [ ]:
df = test_data_interpolate()
inp_df = _interpolate_df(df, limit=5, drop_na=True)
# instead of three values per hours we now have four plus the last timesamp
# duplicated values are droppped
test_eq(9, inp_df.shape[0])
test_eq(2, inp_df.iloc[-2,0])
# one for every timestamp plus one for the first two timestamps, assure that duplicates are dropped
df = test_data_interpolate(index = pd.to_datetime(['2018-01-01-01:00', '2018-01-01-01:00', '2018-01-01-03:00', '2018-01-01-04:00']),)
test_eq(5, _interpolate_df(df, limit=1, drop_na=True).shape[0])

In [ ]:
#export
def _apply_group_by(to:pd.DataFrame, group_by_col, func, **kwargs):
    if group_by_col in to.columns:
        dfs = L()
        for k,df_g in to.groupby(group_by_col):
            dfs += func(df_g, **kwargs)
        df = pd.concat(dfs, axis=0)
    else:
        df = func(to, **kwargs)
    return df

In [ ]:
#export
class Interpolate(RenewablesTabularProc):
    order=50
    include_in_new=True
    def __init__(self, sample_time = "15Min", limit=5, drop_na=True, group_by_col="TaskID"):
        self.sample_time = sample_time
        self.limit = limit
        self.drop_na = drop_na
        self.group_by_col = group_by_col
    
    def setups(self, to: Tabular):
        self.n_samples_per_day = get_samples_per_day(to.items)
        if self.n_samples_per_day == -1:
            warnings.warn("Could not determine samples per day. Skip processing.")
    
    def encodes(self, to):
        # if values of a columns are the same in each row (categorical features)
        # we make that those stay the same during interpolation
        if self.group_by_col in to.items.columns:
            d = defaultdict(object)
            non_unique_columns = L()
            for group_id, df in to.items.groupby(self.group_by_col):
                for c in df.columns:
                    if len(df[c].unique())==1 and c!=self.group_by_col:
                        d[(group_id,c)] = df[c][0]
                    else:
                        non_unique_columns += c

            if self.n_samples_per_day == -1: return
            non_unique_columns = np.unique(non_unique_columns)
        else:
            non_unique_columns = to.items.columns
        # interpolate non unique columns         
        df = _apply_group_by(to.items.loc[:,np.unique(non_unique_columns)], self.group_by_col, _interpolate_df)
        to.items = df
        if self.group_by_col in to.items.columns:
            for group_id,col_name in d.keys():
                mask = to[self.group_by_col]==group_id
                to.items.loc[mask,col_name]=d[(group_id, col_name)] 
        

        if len(to.cont_names)>0:
            mask = to[to.cont_names].isna().values[:,0]
            to.items = to.items[~mask]
        # pandas converts the datatype to float if np.NaN is present, lets revert that                
        to.items = to.items.convert_dtypes()

In [ ]:
df = test_data_interpolate(index = pd.to_datetime(['2018-01-01-01:00', '2018-01-01-02:00', '2018-01-01-01:00', '2018-01-01-02:00', '2018-01-01-03:00']),)
df["TaskID"] = [1,1,2,2,2]
to = TabularPandas(df, procs=Interpolate, do_setup=True)
test_eq(5, to.items.loc[to.items.TaskID==1].shape[0])
test_eq(9, to.items.loc[to.items.TaskID==2].shape[0])

df = test_data_interpolate(index = pd.to_datetime(['2018-01-01-01:00', '2018-01-01-02:00', '2018-01-01-01:00', '2018-01-01-02:00', '2018-01-01-03:00']),)
df["TaskID"] = [1,1,2,2,2]
df["B"] = [1,1,2,2,2]
to = TabularPandas(df, cont_names="A", procs=Interpolate, do_setup=True)
test_eq([1,1,1,1,1,2,2,2,2,2,2,2,2,2], list(to.items.B))
test_eq(9, to.items.loc[to.items.TaskID==2].shape[0])

df = test_data_interpolate(index = pd.to_datetime(['2018-01-01-01:00', '2018-01-01-02:00', '2018-01-01-01:00', '2018-01-01-02:00', '2018-01-01-03:00']),)
to = TabularPandas(df,  cont_names="A", procs=Interpolate, do_setup=True)
test_eq(9, to.items.shape[0])

df = test_data_interpolate(index = [])
to = TabularPandas(df, procs=Interpolate, do_setup=True)
test_eq(0, to.items.shape[0])

<ipython-input-23-07345a38428e>:14: UserWarning: Could not determine samples per day. Skip processing.
  warnings.warn("Could not determine samples per day. Skip processing.")

In [ ]:
#export
def _create_consistent_number_of_sampler_per_day(
    df: pd.DataFrame, n_samples_per_day: int = 24
) -> pd.DataFrame:
    """
    Remove days with less than the specified amount of samples from the DataFrame.

    Parameters
    ----------
    df : pandas.DataFrame
        the DataFrame used for the conversion.
    n_samples_per_day : integer
        the amount of samples each day in the DataFrame.

    Returns
    -------
    pandas.DataFrame
        the given DataFrame, now with a consistent amount of samples each day.
    """
    sample_col = df.columns[0]
    # Create a list of booleans, where each day with 'less than n_samples_per_day' samples is denoted with 'True'
    mask = df.resample("D").apply(len)[sample_col]
    mask = (mask < n_samples_per_day) & (mask > 0)

    for i in range(len(mask)):
        if mask[i]:
            new_day = mask.index[i] + pd.DateOffset(days=1)
            new_day.hours = 0

            cur_mask = (df.index < mask.index[i]) | (df.index >= new_day)
            df = df[cur_mask]

    mask = df.resample("D").apply(len)[sample_col]
    mask = (mask < n_samples_per_day) & (mask > 0)

    if mask.sum() != 0:
        raise ValueError("Wrong sample frequency.")

    return df

In [ ]:
index = pd.date_range(start='1/1/2018', periods=10, freq='3H')
df = test_data_interpolate(index)
df.tail()

                     A  B  C
2018-01-01 15:00:00  4  3  7
2018-01-01 18:00:00  6  1  3
2018-01-01 21:00:00  5  8  4
2018-01-02 00:00:00  6  3  9
2018-01-02 03:00:00  2  0  4

In [ ]:
df = _create_consistent_number_of_sampler_per_day(df, n_samples_per_day= get_samples_per_day(df))
# last two rows are removed, as they are not a "complete day"
test_eq(8, df.shape[0])

In [ ]:
#export
class FilterInconsistentSamplesPerDay(RenewablesTabularProc):
    order=100  
    include_in_new=True
    def __init__(self, group_by_col="TaskID"):
        self.group_by_col = group_by_col
        
    def setups(self, to: Tabular):
        self.n_samples_per_day = get_samples_per_day(to.items)
    
    def encodes(self, to):
        to.items = _apply_group_by(to.items, self.group_by_col, _create_consistent_number_of_sampler_per_day, 
                        n_samples_per_day=self.n_samples_per_day)
        
        assert (to.items.shape[0]%self.n_samples_per_day) == 0, "Incorrect number of samples after filter"

In [ ]:
test_eq(True, FilterInconsistentSamplesPerDay.order > Interpolate.order)
index = pd.date_range(start='1/1/2018', periods=30, freq='3H')
df = test_data_interpolate(list(index))
df["TaskID"] = [1 if i<11 else 2 for i in range(len(df))]
to  = TabularPandas(df, procs=FilterInconsistentSamplesPerDay, do_setup=True)
# equal to two days with eight samples per day
test_eq(16, to.items.shape[0])

In [ ]:
to.show()

In [ ]:
#export
class AddSeasonalFeatures(RenewablesTabularProc):
    order=0
    include_in_new=True
    def __init__(self, as_cont=True):
        self.as_cont = as_cont
    
    def encodes(self, to):
        as_sin = lambda value, max_value: np.sin(2*np.pi*value/max_value)
        as_cos = lambda value, max_value: np.cos(2*np.pi*value/max_value)
        
        if self.as_cont:
            to.items["MonthSin"] = as_sin(to.items.index.month, 12)
            to.items["MonthCos"] = as_cos(to.items.index.month, 12)
            to.items["DaySin"] = as_sin(to.items.index.day, 31)
            to.items["DayCos"] = as_cos(to.items.index.day, 31)
            to.items["HourSin"] = as_sin(to.items.index.hour, 24)
            to.items["HourCos"] = as_cos(to.items.index.hour, 24)
            
        else:
            to.items["Month"] = to.items.index.month
            to.items["Day"] = to.items.index.day
            to.items["Hour"] = to.items.index.hour

In [ ]:
to = get_test_data(index=['2018-01-01-01', '2018-01-01-02', '2018-01-02-03', '2018-02-01-23', '2018-02-01-13'] )
CreateTimeStampIndex("TimeStamps")(to)
AddSeasonalFeatures(as_cont=False)(to)
test_eq(np.array([1,1,1,2,2]), to.items.Month.values)
test_eq(np.array([1,1,2,1,1]), to.items.Day.values)
test_eq(np.array([1,2,3,23,13]), to.items.Hour.values)
# TODO test sin/cos

## Filter Methods

In [ ]:
#export
class FilterByCol(RenewablesTabularProc):
    "Drops rows by column."
    order = 9
    def __init__(self, col_name, drop=True, drop_col_after_filter=True):
        self.col_name = col_name
        self.drop = drop
        self.drop_col_after_filter=drop_col_after_filter

    def encodes(self, to):
        mask = to.items[self.col_name].astype(bool).values
        if not self.drop: mask = ~mask
        to.items.drop(to.items[mask].index, inplace=True)
        if self.drop_col_after_filter: to.items.drop(self.col_name, axis=1, inplace=True, errors="ignore")

In [ ]:
to = get_test_data()
to.loc[:,"C"] = [0,0,1,1,0]
FilterByCol(col_name="C", drop_col_after_filter=True, drop=True)(to)
test_eq(list(to.items.index),[0,1,4])
test_eq(to.items.columns,["A","B"])

to = get_test_data()
to.loc[:,"C"] = [0,0,1,1,0]
FilterByCol(col_name="C", drop_col_after_filter=False, drop=False)(to)
test_eq(list(to.items.index),[2,3])
test_eq(to.items.columns,["A","B", "C"])

In [ ]:
#export
class FilterYear(RenewablesTabularProc):
    "Filter a list of years. By default the years are dropped."
    order = 9
    def __init__(self, year, drop=True):
        "year(s) to filter, whether to drop or keep the years."
        year = listify(year)
        self.year = L(int(y) for y in year)
        self.drop = drop

    def encodes(self, to):
        mask = None
        for y in self.year:
            cur_mask = to.items.index.year == y
            if mask is None: mask = cur_mask
            else: mask = mask | cur_mask

        if not self.drop: mask = ~mask
        to.items.drop(to.items[mask].index, inplace=True)

In [ ]:
def test_data_filter_year():
    index = ['2018-01-01-01', '2019-01-01-02', '2020-01-02-03',] 
    return TabularPandas(pd.DataFrame(index=pd.to_datetime(index),
                      columns = ['A', 'B', 'C'] ).fillna(0))
    
to = test_data_filter_year()
FilterYear(year=2018)(to)
test_eq(np.array([2019,2020]), to.items.index.year)
to = test_data_filter_year()
FilterYear(year=2020, drop=False)(to)
test_eq(np.array([2020]), to.items.index.year)
to = test_data_filter_year()
FilterYear(year=[2018,2020], drop=True)(to)
test_eq(np.array([2019]), to.items.index.year)
to = test_data_filter_year()
FilterYear(year=[2018,2020], drop=False)(to)
test_eq(np.array([2018,2020]), to.items.index.year)

In [ ]:
#export
class FilterMonths(RenewablesTabularProc):
    "Filter dataframe for specific months."
    order = 9
    def __init__(self, months=range(1,13), drop=False):
        self.months = listify(months)
        self.drop = drop

    def encodes(self, to):
        mask = to.items.index.month.isin(self.months)
        if not self.drop: mask = ~mask
        to.items.drop(to.items[mask].index, inplace=True)

In [ ]:
def get_test_data_filter_month():
    to = get_test_data(index=['2018-01-01-01', '2018-02-01-02', '2018-03-02-03', '2018-04-01-23', '2018-05-01-13'])
    CreateTimeStampIndex("TimeStamps")(to)
    return to

def test_filter_month(months,drop,expected_result):
    to = get_test_data_filter_month()
    FilterMonths(months,drop)(to)
    test_eq(to.items.index.month, expected_result)
    
test_filter_month([1,2], False, [1,2])
test_filter_month(range(1,3), False, [1,2])
test_filter_month([1], False, [1])
test_filter_month([1,2], True, [3,4,5])

In [ ]:
#export
class FilterDays(RenewablesTabularProc):
    "Filter dataframe for specific months."
    order = 10
    def __init__(self, num_days):
        self.num_days = num_days
        
    def setups(self, to: Tabular):
        self.n_samples_per_day = get_samples_per_day(to.items)
        
    def encodes(self, to):
        to.items = to.items[-(self.n_samples_per_day * self.num_days):]

In [ ]:
# TODO: create test

In [ ]:
#hide
test_eq(True, FilterYear.order<FilterDays.order)
test_eq(True, FilterMonths.order<FilterDays.order)
test_eq(True, FilterByCol.order<FilterDays.order)

In [ ]:
#export
class DropCols(RenewablesTabularProc):
    "Drops rows by column name."
    order = 10
    def __init__(self, cols):
        self.cols = listify(cols)

    def encodes(self, to):
        to.items.drop(self.cols, axis=1, inplace=True, errors="ignore")

In [ ]:
to = get_test_data()
DropCols(None)(to)
test_eq(to.items.columns, ["A", "B", "C"])
to = get_test_data()
DropCols([])(to)
test_eq(to.items.columns, ["A", "B", "C"])
to = get_test_data()
DropCols(["C"])(to)
test_eq(to.items.columns, ["A", "B"])
to = get_test_data()
DropCols(["A", "B"])(to)
test_eq(to.items.columns, ["C"])
to = get_test_data()

## Column conversion

In [ ]:
# export
class Normalize(RenewablesTabularProc):
    "Normalize per TaskId"
    order = 1
    include_in_new=True
    def __init__(self, cols_to_ignore=[]):
        self.cols_to_ignore = cols_to_ignore

    def setups(self, to: Tabular):
        self.rel_cols = [c for c in to.cont_names if c not in self.cols_to_ignore]
        self.means = getattr(to, "train", to)[self.rel_cols].mean()
        self.stds = getattr(to, "train", to)[self.rel_cols].std(ddof=0) + 1e-7

    def encodes(self, to):
        to.loc[:, self.rel_cols] = (to.loc[:, self.rel_cols] - self.means) / self.stds

    def decodes(self, to):
        to.loc[:, self.rel_cols] = to.loc[:, self.rel_cols] * self.stds + self.means

As we assume, that we have NWP as input features, we can always extract the past. 
Therefore, we should normalize before filtering the data.

In [ ]:
test_eq(True, Normalize.order<FilterMonths.order)
test_eq(True, Normalize.order<FilterByCol.order)
test_eq(True, Normalize.order<FilterYear.order)

In [ ]:
#export
class BinFeatures(TabularProc):
    "Creates bin from categorical features."
    order = 1
    include_in_new=True
    def __init__(self, column_names, bin_sizes=5):
        # TODO: Add possiblitiy to add custom bins
        self.column_names = listify(column_names)
        self.bin_sizes = listify(bin_sizes)
        if len(self.bin_sizes) == 1: self.bin_sizes = L(self.bin_sizes[0] for _ in self.column_names)

    def setups(self, to:Tabular):
        train_to = getattr(to, 'train', to)
        self.bin_edges = {c:pd.qcut(train_to.items[c], q=bs, retbins=True)[1] for c,bs in zip(self.column_names,self.bin_sizes)}


    def encodes(self, to):
        for c in self.bin_edges.keys():
            to.items.loc[:,c] = pd.cut(to.items[c], bins=self.bin_edges[c],
                                       labels=range(1, len(self.bin_edges[c])),
                                       include_lowest=True)

Test corner cases of minimum and maximum.

In [ ]:
np.random.seed(42)
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df.iloc[0,:] = 0
df.iloc[-1,:] = 100
to = TabularPandas(df, cont_names=["A", "B", "C"], y_names="D", procs=BinFeatures(column_names=["A", "B", "C"]))
test_eq(to.items.iloc[-1,:][["A", "B", "C"]].values, [5,5,5])
test_eq(to.items.iloc[0,:][["A", "B", "C"]].values, [1,1,1])
# Test for nas.
test_eq(to.items.isna().sum().sum(), 0)

Check if it is also works along with categorify.

In [ ]:
np.random.seed(42)
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df.iloc[0,:] = 0
df.iloc[-1,:] = 100
to = TabularPandas(df, cont_names=["A", "B", "C"], y_names="D", procs=[BinFeatures(column_names=["A", "B", "C"]), Categorify()])
test_eq(to.items.iloc[-1,:][["A", "B", "C"]].values, [5,5,5])
test_eq(to.items.iloc[0,:][["A", "B", "C"]].values, [1,1,1])

## Extension of TabularPandas with pre-processing

In [ ]:
from fastai.tabular.core import *

In [ ]:
#hide
#export
def _add_prop(cls, o):
    setattr(cls, camel2snake(o.__class__.__name__), o)

In [ ]:
# export
# class TabularRenewables(TabularPandas):
#     def __init__(self, dfs, procs=None, cat_names=None, cont_names=None, do_setup=True, reduce_memory=False,
#                  y_names=None, add_y_to_x=False, add_x_to_y=False, pre_process=None, device=None, splits=None, y_block=RegressionBlock()):

#         self.pre_process = listify(pre_process)
#         cont_names = listify(cont_names)
#         cat_names = listify(cat_names)
#         y_names = listify(y_names)
#         procs = listify(procs)
        
#         # TODO: add_y_to_x, add_x_to_y? can also achieved through cont_names and y_names

#         for pp in procs:
#             if isinstance(pp, RenewablesTabularProc):
#                 warnings.warn(f"Element {pp} of procs is RenewablesTabularProc, might not work with TabularPandas.")
                
        

#         if len(self.pre_process) > 0:
#             self.prepared_to = TabularPandas(dfs, y_names=y_names, 
#                                              procs=self.pre_process, 
#                                              cont_names=cont_names,
# #                                              cat_names=cat_names,
#                                              y_block=y_block,
#                                              do_setup=True, 
#                                              reduce_memory=False)
#             self.pre_process = self.prepared_to.procs
#             prepared_df = self.prepared_to.items
#             for pp in self.pre_process: 
#                 if getattr(pp, "include_in_new", False): _add_prop(self, pp)
                    
#             print(prepared_df.PowerGeneration)
#             new_cat_names = [c for c in cat_names if c in prepared_df.columns ]
#             new_cont_names = [c for c in cont_names if c in prepared_df.columns]
#             new_y_names = [c for c in y_names if c in prepared_df.columns]
            
#             def _warn_removed_features(newcs,oldcs):
#                 if len(newcs) != len(oldcs): warnings.warn(f"Removed features from {oldcs} to be {newcs}.")
#             _warn_removed_features(new_cat_names, cat_names)
#             _warn_removed_features(new_cont_names, cont_names)
#             _warn_removed_features(new_y_names, y_names)
#         else:
#             prepared_df = dfs
            
        
        
#         if splits is not None: splits = splits(range_of(prepared_df))
#         super().__init__(prepared_df,
#             procs=procs,
#             cat_names=cat_names,
#             cont_names=cont_names,
#             y_names=y_names,
#             splits=splits,
#             do_setup=do_setup,
#             inplace=True,
#             y_block=y_block,
#             reduce_memory=reduce_memory)

#     def new(self, df, pre_process=None, splits=None):
#         return type(self)(df, do_setup=False, reduce_memory=False, y_block=TransformBlock(),
#                           pre_process=pre_process, splits=splits,
#                           **attrdict(self, 'procs','cat_names','cont_names','y_names', 'device'))

#     def show(self, max_n=10, **kwargs):
#         to_tmp = self.new(self.all_cols[:max_n])
#         to_tmp.items["TaskID"] = self.items.TaskID[:max_n]
# #         display_df(to_tmp.items)
#         display_df(to_tmp.decode().items)

class TabularRenewables(TabularPandas):
    def __init__(self, dfs, procs=None, cat_names=None, cont_names=None, do_setup=True, reduce_memory=False,
                 y_names=None, add_y_to_x=False, add_x_to_y=False, pre_process=None, device=None, splits=None, y_block=RegressionBlock()):

        self.pre_process = pre_process
        self._original_pre_process = self.pre_process
        cont_names = listify(cont_names)
        cat_names = listify(cat_names)
        y_names = listify(y_names)
        self.pre_process = listify(pre_process)

        for pp in procs:
            if isinstance(pp, RenewablesTabularProc):
                warnings.warn(f"Element {pp} of procs is RenewablesTabularProc, might not work with TabularPandas.")
         

        if len(self.pre_process) > 0:
            self.prepared_to = TabularPandas(dfs, y_names=y_names, 
                                             procs=self.pre_process, cont_names=cont_names,
                                          do_setup=True, reduce_memory=False)
            self.pre_process = self.prepared_to.procs
            prepared_df = self.prepared_to.items
            for pp in self.pre_process: 
                if getattr(pp, "include_in_new", False): _add_prop(self, pp)
        else:
            prepared_df = dfs

        if splits is not None: splits = splits(range_of(prepared_df))
        super().__init__(prepared_df,
            procs=procs,
            cat_names=cat_names,
            cont_names=cont_names,
            y_names=y_names,
            splits=splits,
            do_setup=do_setup,
            inplace=True,
            y_block=y_block,
            reduce_memory=reduce_memory)

    def new(self, df, pre_process=None, splits=None, new_task=False):
        pre_process = listify(pre_process)
        if new_task:
            for pp in self._original_pre_process:
                if getattr(pp, "include_in_new", False):
                    pre_process += [pp]
                    
        return type(self)(df, do_setup=False, reduce_memory=False, y_block=TransformBlock(),
                          pre_process=pre_process, splits=splits,
                          **attrdict(self, 'procs','cat_names','cont_names','y_names', 'device'))

    def show(self, max_n=10, **kwargs):
        to_tmp = self.new(self.all_cols[:max_n])
        to_tmp.items["TaskID"] = self.items.TaskID[:max_n]
        display_df(to_tmp.decode().items)

In [ ]:
# class CategoryMap(CollBase):
#     "Collection of categories with the reverse mapping in `o2i`"
#     def __init__(self, col, sort=True, add_na=False, strict=False):
#         print(col)
#         if is_categorical_dtype(col):
#             print("bla")
#             items = L(col.cat.categories, use_list=True)
#             #Remove non-used categories while keeping order
#             if strict: items = L(o for o in items if o in col.unique())
#         else:
#             if not hasattr(col,'unique'): col = L(col, use_list=True)
#             # `o==o` is the generalized definition of non-NaN used by Pandas
#             items = L(o for o in col.unique() if o==o)
#             if sort: items = items.sorted()
#         self.items = '#na#' + items if add_na else items
#         self.o2i = defaultdict(int, self.items.val2idx()) if add_na else dict(self.items.val2idx())

#     def map_objs(self,objs):
#         "Map `objs` to IDs"
#         return L(self.o2i[o] for o in objs)

#     def map_ids(self,ids):
#         "Map `ids` to objects in vocab"
#         return L(self.items[o] for o in ids)

#     def __eq__(self,b): return all_equal(b,self)

In [ ]:
# class Categorify(TabularProc):
#     "Transform the categorical variables to something similar to `pd.Categorical`"
#     order = 1

#     def setups(self, to):
#         store_attr(
#             classes={
#                 n: CategoryMap(to.iloc[:, n].items, add_na=(n in to.cat_names))
#                 for n in to.cat_names
#             },
#             but="to",
#         )

#     def encodes(self, to):
#         to.transform(to.cat_names, partial(_apply_cats, self.classes, 1))

#     def decodes(self, to):
#         to.transform(to.cat_names, partial(_decode_cats, self.classes))

#     def __getitem__(self, k):
#         return self.classes[k]

To assure that we can de-normlize each task we assure that the task id is always stored.

In [ ]:
# deprecated feature
# df = pd.DataFrame(index=range(0,5), columns = ['A', 'B', 'C'] ).fillna(0)
# to = TabularRenewables(df, cat_names=["A"], cont_names=["B"], y_names=["C"], pre_process=DropCols("A"))
# test_eq(len(to.cat_names), 0)
# df = pd.DataFrame(index=range(0,5), columns = ['A', 'B', 'C'] ).fillna(0)
# to = TabularRenewables(df, cat_names=["A"], cont_names=["B"], y_names=["C"], pre_process=DropCols("B"))
# test_eq(len(to.cont_names), 0)
# df = pd.DataFrame(index=range(0,5), columns = ['A', 'B', 'C'] ).fillna(0)
# to = TabularRenewables(df, cat_names=["A"], cont_names=["B"], y_names=["C"], pre_process=DropCols("C"))
# test_eq(len(to.y_names), 0)

## Custom Dataloader

In [ ]:
#export

class ReadTabBatchRenewables(ItemTransform):
    "Transform `TabularPandas` values into a `Tensor` with the ability to decode"
    def __init__(self, to): self.to = to.new_empty()

    def encodes(self, to):
        self.task_ids = to.items[["TaskID"]]
        if not to.with_cont: res = (tensor(to.cats).long(),)
        # TODO: some pre-processing causes to.conts.values of type object, while types
        # of the dataframe are float, therefore assure conversion through astype
        # --> this is caused by Interpolate
        else: res = (tensor(to.cats).long(),tensor(to.conts.astype(float)).float())
        ys = [n for n in to.y_names if n in to.items.columns]
        # same problem as above with type of to.targ
        if len(ys) == len(to.y_names): res = res + (tensor(to.targ.astype(float)),)
        if to.device is not None: res = to_device(res, to.device)
        return res

    def decodes(self, o):
        o = [_maybe_expand(o_) for o_ in to_np(o) if o_.size != 0]
        vals = np.concatenate(o, axis=1)
        try: df = pd.DataFrame(vals, columns=self.to.all_col_names)
        except: df = pd.DataFrame(vals, columns=self.to.x_names)

        to = self.to.new(df)
        to.items["TaskID"]=self.task_ids.values

        return to

In [ ]:
#export
@delegates()
class TabDataLoaderRenewables(TfmdDL):
    "A transformed `DataLoader` for Tabular data"
    def __init__(self, dataset, bs=16, shuffle=False, after_batch=None, num_workers=0, **kwargs):
        if after_batch is None: after_batch = L(TransformBlock().batch_tfms)+ReadTabBatchRenewables(dataset)
        super().__init__(dataset, bs=bs, shuffle=shuffle, after_batch=after_batch, num_workers=num_workers, **kwargs)

    def create_batch(self, b): return self.dataset.iloc[b]
    def do_item(self, s):      return 0 if s is None else s

TabularRenewables._dl_type = TabDataLoaderRenewables

In [ ]:
#export
class NormalizePerTask(TabularProc):
    "Normalize per TaskId"
    order = 1
    include_in_new=True
    def __init__(self, task_id_col="TaskID"):
        self.task_id_col = task_id_col
    def setups(self, to:Tabular):
        self.means = getattr(to, 'train', to)[to.cont_names + "TaskID"].groupby("TaskID").mean()
        self.stds = getattr(to, 'train', to)[to.cont_names + "TaskID"].groupby("TaskID").std(ddof=0)+1e-7


    def encodes(self, to):
        for task_id in to.items[self.task_id_col].unique():
            # in case this is a new task, we update the means and stds
            if task_id not in self.means.index:
                mu = getattr(to, 'train', to)[to.cont_names + "TaskID"].groupby("TaskID").mean()

                self.means= self.means.append(mu)
                self.stds = self.stds.append(getattr(to, 'train', to)[to.cont_names + "TaskID"].groupby("TaskID").std(ddof=0)+1e-7)


            mask = to.loc[:,self.task_id_col] == task_id

            to.loc[mask, to.cont_names] = ((to.conts[mask] - self.means.loc[task_id]) / self.stds.loc[task_id])

    def decodes(self, to, split_idx=None):
        for task_id in to.items[self.task_id_col].unique():
            # in case this is a new task, we update the means and stds
            if task_id not in self.means.index:
                warnings.warn("Missing task id, could not decode.")

            mask = to.loc[:,self.task_id_col] == task_id

            to.loc[mask, to.cont_names] = to.conts[mask] * self.stds.loc[task_id] + self.means.loc[task_id]
        return to

In [ ]:
def get_test_data_task_normalization(index=None, procs=NormalizePerTask):
    df = pd.DataFrame(index=range(1,11), columns = ['A', 'B', 'C'] , 
                      data=np.array([list(range(1,11)), list(range(11,21)), list(range(21,31))]).T)
    if index is not None: df["TimeStamps"] = index
    df["TaskID"] = L(1 if i <= 5  else 2 for i in range(1,11))
    index = ['2015-01-01-01', '2015-01-01-02', '2015-01-02-03', '2015-02-01-23', '2015-02-01-13',
        '2016-01-01-01', '2016-01-01-02', '2016-06-02-03', '2016-02-01-23', '2016-02-01-13'] 
    df["TimeStamps"] = index
    to = TabularRenewables(df, pre_process=CreateTimeStampIndex(col_name="TimeStamps"), 
                           procs=[NormalizePerTask], cont_names=["A", "B"] , y_names="C", 
                           cat_names=["TaskID"]
                          )
    df["TimeStamps"] = pd.to_datetime(index, utc=True)
    df.set_index("TimeStamps",inplace=True)
    return df,to

In [ ]:
# hide
original_df, to = get_test_data_task_normalization()
test_eq(original_df.astype(float), to.decode().items.astype(float))
test_eq(np.array([[3,13],[8,18]]), to.normalize_per_task.means.values)
test_close(np.array([[1.41421366, 1.41421366],[1.41421366, 1.41421366]]), to.normalize_per_task.stds.values)

## Integration Example

Lets create a dataloader and show a single batch.

In [ ]:
original_df, to = get_test_data_task_normalization()
dl = to.dataloaders(bs=4)

In [ ]:
to.items

                                  A         B   C  TaskID
TimeUTC
2015-01-01 01:00:00+00:00 -1.414213 -1.414213  21       1
2015-01-01 02:00:00+00:00 -0.707107 -0.707107  22       1
2015-01-02 03:00:00+00:00  0.000000  0.000000  23       1
2015-02-01 23:00:00+00:00  0.707107  0.707107  24       1
2015-02-01 13:00:00+00:00  1.414213  1.414213  25       1
2016-01-01 01:00:00+00:00 -1.414213 -1.414213  26       2
2016-01-01 02:00:00+00:00 -0.707107 -0.707107  27       2
2016-06-02 03:00:00+00:00  0.000000  0.000000  28       2
2016-02-01 23:00:00+00:00  0.707107  0.707107  29       2
2016-02-01 13:00:00+00:00  1.414213  1.414213  30       2

In [ ]:
to.show()

In [ ]:
original_df

                            A   B   C  TaskID
TimeStamps
2015-01-01 01:00:00+00:00   1  11  21       1
2015-01-01 02:00:00+00:00   2  12  22       1
2015-01-02 03:00:00+00:00   3  13  23       1
2015-02-01 23:00:00+00:00   4  14  24       1
2015-02-01 13:00:00+00:00   5  15  25       1
2016-01-01 01:00:00+00:00   6  16  26       2
2016-01-01 02:00:00+00:00   7  17  27       2
2016-06-02 03:00:00+00:00   8  18  28       2
2016-02-01 23:00:00+00:00   9  19  29       2
2016-02-01 13:00:00+00:00  10  20  30       2

In [ ]:
dl.one_batch()

(tensor([[2],
         [2],
         [1],
         [2]], device='cuda:0'),
 tensor([[-1.4142, -1.4142],
         [-0.7071, -0.7071],
         [ 1.4142,  1.4142],
         [ 0.0000,  0.0000]], device='cuda:0'),
 tensor([[26.],
         [27.],
         [25.],
         [28.]], device='cuda:0'))

In [ ]:
dl.show_batch()

The following gives an example on how to add a new task, that is normalized based on the first year. E.g. when the features are numerical weather predictions. As those are themselves forecasts, we can always extract the past and use the data for standardization.

In [ ]:
original_df, to = get_test_data_task_normalization()
original_df["TaskID"] = 3

In [ ]:
pd.options.mode.chained_assignment=None
# setups task normalization
to_new = to.new(original_df, pre_process=FilterYear(2016, drop=True))
to_new.process()
to_new.items

                                  A         B   C  TaskID
TimeStamps
2015-01-01 01:00:00+00:00 -1.414213 -1.414213  21       3
2015-01-01 02:00:00+00:00 -0.707107 -0.707107  22       3
2015-01-02 03:00:00+00:00  0.000000  0.000000  23       3
2015-02-01 23:00:00+00:00  0.707107  0.707107  24       3
2015-02-01 13:00:00+00:00  1.414213  1.414213  25       3

In [ ]:
to_new.items.describe()

                  A             B          C  TaskID
count  5.000000e+00  5.000000e+00   5.000000     5.0
mean  -4.440892e-17 -4.440892e-17  23.000000     3.0
std    1.118034e+00  1.118034e+00   1.581139     0.0
min   -1.414213e+00 -1.414213e+00  21.000000     3.0
25%   -7.071067e-01 -7.071067e-01  22.000000     3.0
50%    0.000000e+00  0.000000e+00  23.000000     3.0
75%    7.071067e-01  7.071067e-01  24.000000     3.0
max    1.414213e+00  1.414213e+00  25.000000     3.0

Normalize the second year based on the mean and std of the first year.

In [ ]:
to_new = to.new(original_df, pre_process=FilterYear(2016, drop=False))
to_new.process()

As the data has larger values in the second year, the normalization is quite off.

In [ ]:
to_new.items

                                  A         B   C  TaskID
TimeStamps
2016-01-01 01:00:00+00:00  2.121320  2.121320  26       3
2016-01-01 02:00:00+00:00  2.828427  2.828427  27       3
2016-06-02 03:00:00+00:00  3.535534  3.535534  28       3
2016-02-01 23:00:00+00:00  4.242640  4.242640  29       3
2016-02-01 13:00:00+00:00  4.949747  4.949747  30       3

This can also be seen in the summary:

In [ ]:
to_new.items.describe()

              A         B          C  TaskID
count  5.000000  5.000000   5.000000     5.0
mean   3.535534  3.535534  28.000000     3.0
std    1.118034  1.118034   1.581139     0.0
min    2.121320  2.121320  26.000000     3.0
25%    2.828427  2.828427  27.000000     3.0
50%    3.535534  3.535534  28.000000     3.0
75%    4.242640  4.242640  29.000000     3.0
max    4.949747  4.949747  30.000000     3.0

Let's check a dataloader and verify if we can display the data.

In [ ]:
to_new.dataloaders(bs=4).show_batch()